

 /*header{
    height: 600px;
}*/

.green{
    background-color:rgba(27, 188, 155, 1) ;
}

.intro{
/* background-color: lightpink;
    height: 200px;
    width: 200px;
    margin-top: 30px;*/
}

.card_color{
    background-color:rgba(45, 62, 80, 1) ;
    color:white;
}

footer{
    background-color: rgba(58, 84, 109, 1);
}

.top_nav_color{
background-color:rgba(45, 62, 80, 1) !important; 
}

.nav_color a{
    color:white !important;
}

.icon_color { 
    color:white !important;
}